In [40]:
# Import pandas library
import pandas as pd

In [245]:
# Locate, open, and read csv file
csvfile = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csvfile, encoding="ISO-8859-1")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [139]:
# Player Count: Calculate total number of players, DataFrame creation and output
total_players = len(purchase_data_df['SN'].unique())
total_players_df = pd.DataFrame({'Total Players':[total_players]})
total_players_df

   Total Players
0            576

In [152]:
# Purchasing Analysis: Calculations, DataFrame creation and output

# Total Population Calculations
unique_items = len(purchase_data_df['Item ID'].unique())
avg_purchase_price = purchase_data_df["Price"].mean()
total_purchases = len(purchase_data_df['Item ID'])
total_revenue = purchase_data_df['Price'].sum()

# Create DataFrame and output
purchasing_analysis_overall_analysis_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                                                       'Average Price': [avg_purchase_price], 
                                                       'Number of Purchases': [total_purchases], 
                                                       'Total Revenue': [total_revenue]})
purchasing_analysis_overall_analysis_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [243]:
# Gender Analysis: Calculations, DataFrame creation and output

# Create male_players_df to leverage for Gender demographic analysis and perform data calculations
male_players_df = purchase_data_df.loc[purchase_data_df['Gender']=='Male']
male_players = len(male_players_df['SN'].unique())
percent_male_players = male_players / total_players

# Create female_players_df to leverage for Gender demographic analysis
female_players_df = purchase_data_df.loc[purchase_data_df['Gender']=='Female']
female_players = len(female_players_df['SN'].unique())
percent_female_players = female_players / total_players

# Create other_players_df to leverage for Gender Demographic analysis
other_players_df = purchase_data_df.loc[purchase_data_df['Gender']=='Other / Non-Disclosed']
other_players = len(other_players_df['SN'].unique())
percent_other_players = other_players / total_players

# Create lists to form DataFrame
gender = ['Male', 'Female', 'Other / Non-Disclosed']
unique_player_count = [male_players, female_players, other_players]
percent_of_players = [percent_male_players, percent_female_players, percent_other_players]

# Create and output DataFrame
gender_demographics_df = pd.DataFrame({'': gender,
                                       'Count': unique_player_count,
                                       'Percentage of Players': percent_of_players})
gender_demographics_df

                          Count  Percentage of Players
0                   Male    484               0.840278
1                 Female     81               0.140625
2  Other / Non-Disclosed     11               0.019097

In [275]:
# Purchasing Analysis by Gender Calculations and DataFrame Output

# Males:
male_purchases = len(male_players_df['Item ID'])
male_avg_purchase_price = male_players_df['Price'].mean()
male_total_purchase = male_players_df['Price'].sum()
male_avg_purchase_total = male_total_purchase / male_players

# Females:
female_purchases = len(female_players_df['Item ID'])
female_avg_purchase_price = female_players_df['Price'].mean()
female_total_purchase = female_players_df['Price'].sum()
female_avg_purchase_total = female_total_purchase / female_players

# Other:
other_purchases = len(other_players_df['Item ID'])
other_avg_purchase_price = other_players_df['Price'].mean()
other_total_purchase = other_players_df['Price'].sum()
other_avg_purchase_total = other_total_purchase / other_players

# Create Lists for DataFrame
gender = ['Gender', 'Female', 'Male', 'Other / Non-Disclosed']
purchases = ['', female_purchases, male_purchases, other_purchases]
avg_purchase_price = ['', female_avg_purchase_price, male_avg_purchase_price, other_avg_purchase_price]
total_purchase = ['', female_total_purchase, male_total_purchase, other_total_purchase]
avg_purchase_total = ['', female_avg_purchase_total, male_avg_purchase_total, other_avg_purchase_total]

# Create and output DataFrame
purchasing_analysis_df = pd.DataFrame({'': gender,
                                      'Purchase Count': purchases,
                                      'Average Purchase Price': avg_purchase_price,
                                      'Total Purchase Value': total_purchase,
                                      'Avg Total Purchase per Person': avg_purchase_total})
purchasing_analysis_df

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender,,,,
1,Female,113,3.20301,361.94,4.4684
2,Male,652,3.01785,1967.64,4.06537
3,Other / Non-Disclosed,15,3.346,50.19,4.56273

In [276]:
# Age Demographics

# Create bins and corresponding bin names
age_bins = [0, 9.9, 13.9, 18.9, 23.9, 28.9, 33.9, 38.9, 200]
bin_names = ['<10', '10-14','15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize existing players using the age bins created above
purchase_data_df['Age Group'] = pd.cut(purchase_data_df['Age'], age_bins, labels=bin_names, include_lowest=True)

#Calculate the numbers and percentages by age group

# <10

bin_under_10_df = purchase_data_df.loc[purchase_data_df['Age Group']=='<10']
bin_under_10_df

# 10-14

# 15-19

# 20-24

# 25-29

# 30-34

# 35-39

# 40+



#reduced_purchased_data_df = purchase_data_df[["Age Groups", "Gender"]]
#age_groups_df = reduced_purchased_data_df.values()
#count = purchase_data_df["Age Groups"].value_counts()
#unique = len(other_players_df['SN'].unique())

#age_group_df = pd.DataFrame(purchase_data_df)

#age_groups_df
#purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups,Age Group
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10,<10
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10,<10
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10,<10
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10,<10
187,187,Tyeurith29,8,Male,11,Brimstone,3.65,<10,<10
272,272,Anallorgue57,8,Male,133,Faith's Scimitar,4.09,<10,<10
311,311,Anallorgue57,8,Male,71,Demise,1.61,<10,<10
339,339,Ilmol66,8,Female,124,Venom Claymore,1.29,<10,<10
446,446,Chanossast57,7,Female,119,"Stormbringer, Dark Blade of Ending Misery",4.32,<10,<10
481,481,Sondossa69,7,Male,179,"Wolf, Promise of the Moonwalker",4.48,<10,<10
486,486,Eurithphos97,9,Male,53,Vengeance Cleaver,2.05,<10,<10
515,515,Haillyrgue51,7,Male,40,Second Chance,2.52,<10,<10
546,546,Sondadar26,9,Male,159,"Oathbreaker, Spellblade of Trials",3.08,<10,<10
575,575,Sondadar26,9,Male,137,"Aetherius, Boon of the Blessed",3.39,<10,<10
610,610,Frichossala54,7,Male,159,"Oathbreaker, Spellblade of Trials",3.08,<10,<10
658,658,Quilassa66,7,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,<10,<10
672,672,Ililsan66,9,Male,122,Unending Tyranny,2.85,<10,<10
686,686,Chadjask77,8,Male,147,"Hellreaver, Heirloom of Inception",4.93,<10,<10
692,692,Quaecjask96,9,Male,78,"Glimmer, Ender of the Moon",4.40,<10,<10
732,732,Eurithphos97,9,Male,97,"Swan Song, Gouger Of Terror",2.50,<10,<10
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10,<10
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10,<10